<f:layout name="Default"/>

<f:section name="main">

    <f:flashMessages/>

    <f:if condition="{storagePidNotSet}">
        <f:then>
            <f:translate
                    key="tx_phipfelswatchword_domain_model_watchword.storagePidNotSet"/>
        </f:then>
    </f:if>
    <f:if condition="{watchword}">
        <f:then>
            <div class="tx_phipfelswatchword">
                <div class="watchwordWrapper">
                    <div class="dateWrapper">
                        <span class="dateName">
                            <f:translate
                                    key="tx_phipfelswatchword_domain_model_watchword.day<f:format.date format='N' date='{watchword.date}'/>"/>,
                        </span>
                        <span class="date">
                            {watchword.date -> f:format.date(format:'{dateFormatFluid}')}
                        </span>
                    </div>
                    <f:if condition="{enablePublicHolidays} == 1">
                        <f:then>
                            <f:if condition="{watchword.publicHoliday} != ''">
                                <f:then>
                                    <span class="publicHoliday">{watchword.publicHoliday}</span>
                                </f:then>
                            </f:if>
                        </f:then>
                    </f:if>
                    <span class="watchword">
                        <span class="watchwordTitle"><f:translate
                                key="tx_phipfelswatchword_domain_model_watchword.watchword"/>:</span>
                        <strong>{watchword.watchword}</strong>
                        <span class="watchwordPassage">{watchword.watchwordPassage}</span>
                    </span>
                    <span class="instructiveText">
                        <span class="instructiveTextTitle">Lehrtext:</span>
                        <strong>{watchword.instructiveText}</strong>
                        <span class="instructiveTextPassage">{watchword.instructiveTextPassage}</span>
                    </span>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:translate key="tx_phipfelswatchword_domain_model_watchword.nothing_to_show"/>
        </f:else>
    </f:if>
    <div class="license">
        <a href="http://www.herrnhuter.de" target="_blank">&copy Evangelische Br&uuml;der-Unit&auml;t – Herrnhuter Br&uuml;dergemeine</a>
        <a href="http://www.losungen.de" target="_blank">
            <f:translate key="tx_phipfelswatchword_domain_model_watchword.additional_information"/>
        </a>
    </div>

</f:section>